.hero {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.hero__info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.info-title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--vdViolet);
}
.info-text {
  text-align: center;
  margin: 1rem 0;
  color: var(--grayishViolet);
}

.info-button {
  cursor: pointer;
  color: white;
  padding: 0.75rem 2rem;
  background-color: var(--cyan);
  border-radius: 1.5rem;
  margin-bottom: 7rem;
}

.hero__image {
  width: 135%;
}

@media (min-width: 850px) {
  .hero {
    display: flex;
    flex-direction: row;
    margin-bottom: 7rem;
  }
  .hero__info {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__info,
  .info-title,
  .info-text {
    text-align: start;
  }
  .info-title {
    font-size: 3rem;
    width: 80%;
  }
  .info-text {
    width: 70%;
  }
  .hero__image {
    width: 120%;
  }
}
