.stats {
  color: var(--grayishViolet);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats__header {
  text-align: center;
  max-width: 30rem;
  margin: 2rem 0;
}
.header-title {
  color: var(--vdViolet);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
.green-line {
  background-color: var(--cyan);
  width: 0.5rem;
  height: 5rem;
}
.stats__main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
}

.dashboard-image {
  background-color: var(--dviolet);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -2rem;
}
.dashboard-title {
  color: var(--vdViolet);
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.25rem;
}
.dashboard-text {
  text-align: center;
}

@media (min-width: 850px) {
  .green-line {
    width: 5rem;
    height: 0.5rem;
  }
  .stats__main {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  .dashboard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 30%;
  }
  .dashboard-image {
    margin-top: -3rem;
  }
  .dashboard-text {
    width: 90%;
    text-align: left;
  }
  .slide {
    margin-top: 4rem;
  }
  .slide-one {
    margin-top: 9rem;
  }
}
