.app__header,
.app__main,
.app__cta,
.app__footer {
  padding: 0 1rem;
}
.app__hero {
  padding-left: 1rem;
}

.app__header {
  padding-top: 1rem;
}

.app__main {
  background-color: rgba(128, 128, 128, 0.15);
}
.main-shortener {
  position: relative;
  bottom: 60px;
}
