.app__header {
  margin: 1rem;
}

.app__main {
  padding: 0 1rem;
}
.app__hero {
  padding-left: 1rem;
}

.app__main {
  background-color: rgba(128, 128, 128, 0.15);
  padding-bottom: 3rem;
}
.main-shortener {
  position: relative;
  bottom: 60px;
}

@media (min-width: 750px) {
  .app__header {
    margin: 3rem;
  }
  .app__main {
    margin: 0 5rem;
  }
}
